# Python >=3.8 (declared in pyproject.toml and setup.py)

# --------- exact diagonalization --------- #
scipy
numpy
pfapack>=0.3.1


# --------- numerical diagonalization --------- #
-c weinbe58 omp quspin


# --------- others --------- #
jupyter      # better jupyter notebooks
matplotlib
